$borderRadius: 4px;

.search-input-container {
  display: flex;
  height: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-wrapper {
  flex: 1 1 0;
  background-color: #f20a51;
  padding: 4px 0 4px 4px;

  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.search-input {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-inline: 12px;
  border-top-left-radius: calc($borderRadius / 2);
  border-bottom-left-radius: calc($borderRadius / 2);
}

.search-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 100px;
  background-color: #f20a51;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;

  &:hover {
    background-color: #cd0b45;
  }
}
