$borderRadius: 4px;

.search-input-container {
  position: relative;
  display: flex;
  height: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-wrapper {
  flex: 1 1 0;
  background-color: #f20a51;
  padding: 4px 0 4px 4px;

  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

.search-input {
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-inline: 12px;
  border-top-left-radius: calc($borderRadius / 2);
  border-bottom-left-radius: calc($borderRadius / 2);
}

.search-btn {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  width: 100px;
  background-color: #f20a51;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;

  &:hover {
    background-color: #cd0b45;
  }
}

// suggestion
.suggestion-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
}

.suggestion-item {
  padding: 8px 12px;
  text-align: left;
  background-color: #efefef;

  &.active {
    background-color: #ddd;
  }

  &:hover {
    background-color: #ddd;

    ~ .suggestion-item {
      background-color: #efefef;
    }
  }
}
